h2,h3,h4,h5,a{
    text-align: center;
    color: grey;
    font-family: 'Franklin Gothic Medium';
    font-weight: '20';
    font-size: 25px;
}
h1{
    text-align: center;
}
body {
    background-color: darkgray;}

ul.a {
    list-style-type: circle;
    font-size: 25px;
    color: rgb(45, 45, 45);
    font-family: 'Franklin Gothic Medium';
    font-weight: '10';
  }
p{
    text-align: center;
    color: rgb(45, 45, 45);
    font-size: 20;
}
#1{
    color:red;

}
.center{
    display: block;
    margin-left: auto;
    margin-right:  auto;
    width: 50%;
}

