h2,h3,h4,h5,a{
    text-align: center;
    color: grey;
    font-family: 'Franklin Gothic Medium';
    font-weight: '20';
    font-size: 25px;
}
h1{
    text-align: center;
}
body {
    background-color: darkgray;}

ul.a {
    list-style-type: circle;
    font-size: 25px;
  }
p{
    text-align: center;
    color: black;
    font-size: 20;
}
#1{
    color:red;

}